<h1>WEB SCRAPPER APPLICATION</h1>
PLEASE ENTER A URL TO SCRAP DATA
</br>
</br>

<%= form_tag("/datascrapper/get_items", method: "get") do %>
  <%= label_tag(:input_url, "Enter Web URL:") %>
  <%= text_field_tag(:input_url) %>
  <%= submit_tag("Search") %>
<% end %>

</br>
<h4>Example URL</h4> <a href="https://www.trycaviar.com/peninsula/rise-pizzeria-6431">https://www.trycaviar.com/peninsula/rise-pizzeria-6431</a>